@charset "utf-8";
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
/* Header */
.header-wrap{
  width:100%;
  height:2.9em;
  background-color:#00BA9F;
  padding-bottom:0px;
}
.header{
  text-align: center;
  height:inherit;
  background:url(https://www.landbank.com.tw/image/topBarBg.png);
  background-repeat: no-repeat;
}
.line{
  display:inline-block;
  vertical-align: middle;
}
.menu-icon{
  display: none; 
}
.logo{
  //float:left;
}
.logo img{
  width:220px;
  height:47px;
}
.header .header-bar{
  //float:left;
  background-color: red;
}
.nav-bar{
  background-color: #81F7F3;
  width:100%;
  height:3em;
}

.ad {
  background-color: green;
  width: 100%;
  height: 4em;
  text-align: center;
}

.menu-news {
  background-color: red;
  width: 100%;
  height: 8em;
}

.menu-news1{
  margin: 0 auto;
  width:40%;
  padding: 20px;
  border:2px blue solid;
  margin-right:10px;
  float:left;
}

.menu-news2{
  margin: 0 auto;
  width:40%;
  padding:20px;
  border:2px green solid;
  float:left;
}

// ¦pªG¨Ï¥ÎªÌ¤§µøµ¡¼e«× <= 480px
@media screen and (max-width: 480px) {
  .menu-icon{
    display: block; 
  }
  .header .header-bar{
    display: none; 
  }
}