@charset "utf-8";
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
/* Header */
.header-wrap{
  width:100%;
  height:2.9em;
  background-color:#00BA9F;
  padding-bottom:0px;
}
.header{
  text-align: center;
  height:inherit;
  background:url(https://www.landbank.com.tw/image/topBarBg.png);
  background-repeat: no-repeat;
}
.line{
  display:inline-block;
  vertical-align: middle;
}
.menu-icon{
  display: none; 
}
.logo{
  //float:left;
}
.logo img{
  width:220px;
  height:47px;
}
.header .header-bar{
  //float:left;
  background-color: red;
}
.nav-bar{
  background-color: #81F7F3;
  width:100%;
  height:3em;
}

.ad {

  background-color: green;
  width: 100%;
  height: 4em;
  text-align: center;
}
// 如果使用者之視窗寬度 <= 480px
@media screen and (max-width: 480px) {
  .menu-icon{
    display: block; 
  }
  .header .header-bar{
    display: none; 
  }
}