@charset "utf-8";
/* CSS Style */
.header{
  width:100%;
  height:2.9em;
  background-color:#00BA9F;
  padding-bottom:0px;
}
.header-bgd{
  text-align: center;
  width:1024px;
  height:inherit;
  background:url(https://www.landbank.com.tw/image/topBarBg.png);
}
.logo{
  background: url(https://www.landbank.com.tw/image/logo.png);
  width:220px;
  height:47px;
  float:left;
  background-color: yellow;
}
.header .nav-bar{
  background-color: red;
  height: inherit;
  width: 70%;
}

@media(max-width: 480px) {
    // 如果使用者之視窗寬度 <= 480px
}